*{
    box-sizing: border-box;
  }
.body{
   margin: 0 auto;
}

nav{
    display: flex;
    text-align: center;
    width:auto;
    height: 50px;
    background: rgb(82, 146, 206);
    border-radius: 50px;
    overflow: hidden;
}
.c{
  position: relative;
  left: 10px;
}
a{
    text-decoration: none;
    text-align: center;
    color:white;
  }
a:hover{
    color: black;
  }
nav > ul{
  position: relative;
    list-style-type: none;
    padding:15px 15px;
    margin: 0;
    display: flex;
    flex: 3;
  }
nav ul {
    text-align:center;
    padding-left: 15%;
    padding-right: 20%;
    flex-direction: row;
    margin: 0.1%;
  }
nav li {
    margin-right: 10%;
  }
nav > form{
    display: flex;
    flex: 1;
  }
.form{
  text-align: center;
}
nav input {
    flex: 1;
    position: relative;
    width:auto;
    height: 40px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    top:5px;
    bottom: 5px;
    right: auto;
    border-color: black;
  }
nav button {
    text-align: center;
    width:auto;
    height: 40px;
    background:rgb(39, 101, 160);
    border: 5%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    color: white;
    position: relative;
    top:5px;
    bottom: 5px;
    right: 5px;
    border-color: black;
  }
.buscador{
    align-items: center;
  }
.icono{
    padding-left: 20px;
    background-image: url('icons8-lupa-50.png');
    background-position: center;
	  background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 95% center;
}